<h2><%= title %></h2>
<hr/>

<div class="row">

    <div class="col-md-9">

        <div class="btn-group btn-group-md pull-right">
            <a href="/categories/output" class="btn btn-default btn-md" role="button"
               data-toggle="tooltip" data-placement="top" title="Output the category tree">
                <span class="glyphicon glyphicon-download"></span>&nbsp;Download
            </a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="btn-group btn-group-justified">

            <% if(currentUrl.substring(0, '/categories/editview'.length) == '/categories/editview'){ %>
            <a role="button" class="btn btn-default active" href="javascript:void(0)"
               data-toggle="tooltip" data-placement="top" title="Show the edit view">
                <span class="glyphicon glyphicon-edit"></span>
                &nbsp;Edit View
            </a>
            <a role="button" class="btn btn-default" href="/categories/treeview"
               data-toggle="tooltip" data-placement="top" title="Show the tree view">
                <span class="glyphicon glyphicon-tree-conifer"></span>
                &nbsp;Tree View
            </a>
            <% }else{ %>
            <a role="button" class="btn btn-default" href="/categories/editview"
               data-toggle="tooltip" data-placement="top" title="Show the edit view">
                <span class="glyphicon glyphicon-edit"></span>
                &nbsp;Edit View
            </a>
            <a role="button" class="btn btn-default active" href="javascript:void(0)"
               data-toggle="tooltip" data-placement="top" title="Show the tree view">
                <span class="glyphicon glyphicon-tree-conifer"></span>
                &nbsp;Tree View
            </a>
            <% } %>

        </div>
    </div>

</div>

<div class="row" style="margin-top:20px;">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading panel-title">Root Category</div>
            <div class="list-group">

                <% roots.forEach(function (root){ %>
                <% if( root.id == selectedRootId){ %>
                <a class="list-group-item active" role="button"
                   href="/categories/editview/<%= root.id %>">
                    <%= root.title %>
                </a>
                <% }else{ %>
                <a class="list-group-item" role="button"
                   href="/categories/editview/<%= root.id %>">
                    <%= root.title %>
                </a>
                <% } %>
                <% }) %>

                <div class="list-group-item">
                    <form role="form" method="post" action="/categories/add">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Add a new root category"
                                   name="categoryTitle">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" data-toggle="tooltip"
                                        data-placement="top"
                                        title="Input a category name then press this button">
                                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Add
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading panel-title">Sub Category</div>
            <div class="list-group">
                <% subCategories.forEach(function (subCategory){ %>
                <% if( subCategory.id == selectedSubCategoryId){ %>
                <a class="list-group-item active" role="button"
                   href="/categories/editview/<%= selectedRootId %>/<%= subCategory.id %>">
                    <%= subCategory.title %>
                </a>
                <% }else{ %>
                <a class="list-group-item" role="button"
                   href="/categories/editview/<%= selectedRootId %>/<%= subCategory.id %>">
                    <%= subCategory.title %>
                </a>
                <% } %>
                <% }) %>

                <% if (selectedRootId) { %>
                <div class="list-group-item">
                    <form role="form" method="post" action="/categories/add">
                        <input type="hidden" name='rootId' value="<%= selectedRootId %>">

                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Add a sub category"
                                   name="categoryTitle">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" data-toggle="tooltip"
                                        data-placement="top"
                                        title="Input a category name then press this button">
                                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Add
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
                <% } %>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading panel-title">Children</div>
            <ul class="list-group">
                <% children.forEach(function (child){ %>
                <li class="list-group-item">
                    <%= child.title %>
                </li>
                <% }) %>

                <% if (selectedSubCategoryId) { %>
                <div class="list-group-item">
                    <form role="form" method="post" action="/categories/add">
                        <input type="hidden" name='rootId' value="<%= selectedRootId %>">
                        <input type="hidden" name='subCategoryId' value="<%= selectedSubCategoryId %>">

                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Add a child" name="categoryTitle">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" data-toggle="tooltip"
                                        data-placement="left"
                                        title="Input a category name then press this button">
                                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Add
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
                <% } %>
            </ul>
        </div>
    </div>
</div>