<h2><%= title %></h2>
<hr/>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Commodity Id</th>
                    <th>Reporter Id</th>
                    <th>Processed</th>
                    <th>Reason</th>
                    <th>Created Time</th>
                    <th>Updated Time</th>
                </tr>
                </thead>
                <tbody>
                <% commodityReports.forEach(function(commodityReport){ %>
                <tr>
                    <td><%= commodityReport.id %></td>
                    <td>
                         <a href="/commodities/detail/<%= commodityReport.commodity_id %>"><%= commodityReport.commodity_id %></a>
                    </td>
                    <td>
                        <a href="/users/detail/<%= commodityReport.reporter_id %>"><%= commodityReport.reporter_id %></a>
                    </td>
                    <td>
                        <% if(commodityReport.is_processed){ %>
                        Y
                        <% }else{ %>
                        N
                        <% } %>
                    </td>
                    <td><%= commodityReport.reason %></td>
                    <td><%= commodityReport.created_at.toLocaleDateString() %></td>
                    <td><%= commodityReport.updated_at.toLocaleDateString() %></td>

                    <td>
                        <div class="btn-toolbar" role="toolbar">

                            <div class="btn-group">
                                <a href="/reports/commodities/detail/<%= commodityReport.id %>"
                                   class="btn btn-sm btn-info disabled" role="button">Detail</a>
                            </div>

                            <div class="btn-group">
                                <% if(commodityReport.is_processed){ %>
                                <a href="/reports/commodity/process/<%= commodityReport.id %>"
                                   class="btn btn-sm btn-default disabled" role="button">
                                    Process
                                </a>
                                <% }else{ %>
                                <a href="/reports/commodity/process/<%= commodityReport.id %>"
                                   class="btn btn-sm btn-default btn-success" role="button">
                                    Process
                                </a>
                                <% } %>
                            </div>

                        </div>
                    </td>
                </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
