<h2><%= title %></h2>
<hr/>

<div class="row">
    <% if(currentAdmin && currentAdmin.is_super_admin){ %>
    <div class="col-md-12">
        <a href="/tags/create" class="btn btn-default btn-md pull-right"
           type="button">Create</a>
    </div>
    <% } %>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Created Time</th>
                    <th>Updated Time</th>
                </tr>
                </thead>
                <tbody>
                <% tags.forEach(function(tag){ %>
                <tr>
                    <td><%= tag.id %></td>
                    <td><%= tag.title %></td>
                    <td>
                        <% if(tag.status){ %>
                        Enabled
                        <% }else{ %>
                        Disabled
                        <% } %>
                    </td>
                    <td><%= tag.created_at.toLocaleDateString() %></td>
                    <td><%= tag.updated_at.toLocaleDateString() %></td>

                    <td>
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group">
                                <% if(tag.status == 1){ %>
                                <a href="/tasg/enable/<%= tag.id %>"
                                   class="btn btn-sm btn-default disabled" role="button">
                                    Enable
                                </a>
                                <a href="/tags/disable/<%= tag.id %>"
                                   class="btn btn-sm btn-danger"
                                   role="button">
                                    Disable
                                </a>
                                <% }else{ %>
                                <a href="/tags/enable/<%= tag.id %>"
                                   class="btn btn-sm btn-success" role="button">
                                    Enable
                                </a>
                                <a href="/tags/disable/<%= tag.id %>"
                                   class="btn btn-sm btn-default disabled"
                                   role="button">
                                    Disable
                                </a>
                                <% } %>
                            </div>
                        </div>
                    </td>
                </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
